#destination-prompt {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    z-index: 1000;
    background-color: white; 
    text-align: center;
}

#map {
    width: 100%;
    height: 95vh;
}

.hidden {
    display: none;
}